.content {
	margin: 0 15px 0 5px;
	padding-bottom: 10px;
	max-width: 800px;
	font-size: 0.9rem;
}

hr {
	border-top: 2px solid #1779ba
}

h6 > i {
	margin-right: 5px;
}

.inactive-ads-1 {
	margin: 0;
}

.NA {
	padding: 0 10px;
}

.inactive-ads-2 {
	margin: 0;
	border: 1px solid #e2e2e2;
	box-shadow: 0 7px 4px -6px #ccc;
	opacity: .5;
	border-radius: 10px;
}

.NA-1 > h3 > a {
	font-size: 16px;
	text-decoration: none;
	list-style: none;
	color: #444;
}

.NA-1 > h3 > a > span {
	font-weight: bold;
}

.NA-2, .NA-4, .NA-5 {
	padding: 10px;
}

.NA-2 > a > img {
	position: relative;
	width: 170px;
	margin-bottom: 15px;
}

.NA-2 > a > figcaption.overlay-1 {
	position: absolute;
	top: 8%;
	left: 60%;
	font-size: 13px;
	color: white;
	background-color: rgba(241, 164, 26, 0.8);
	transform: translate(0%, 0%);
	height: 20px;
	width: 60px;
	text-align: center;
	border-radius: 0.25rem;
}

.NA-2 > a > figcaption.overlay-2 {
	position: absolute;
	top: 70%;
	left: 8%;
	font-size: 13px;
	color: white;
	background-color: rgba(100, 100, 100, 0.6);
	transform: translate(0%, 0%);
	height: 20px;
	width: 95px;
	text-align: center;
	border-radius: 0.25rem;
}

.NA-3 {
	padding: 10px;
	font-size: .9rem;
}

.NA-3 > a {
	text-decoration: none;
	color: #1779ba;
}

.NA-4 > span.status {
	font-size: .9rem;
}

.NA-5 a {
	display: block;
	margin-bottom: 2px;
	padding: 2px;
	border-bottom: 1px dotted #1779ba;
	text-decoration: none;
	font-size: 0.9rem;
	color: #1779ba;
}

@media screen and (max-width: 1200px) {
	.side-nav {
		margin: 0;
		border-left: none;
	}

	.content {
		margin: 0;
		border-right: none;
	}
}

@media screen and (min-width: 800px) {
	.side-nav {
		margin: 0;
		/*border-left: none;*/
	}

	.content {
		min-width: 720px;
		margin: 0;
		/*border-right: none;*/
	}

}

@media screen and (max-width: 768px) {
	.content {
		min-width: 360px;
		margin: 0;
		border-right: none;
	}
}

@media screen and (max-width: 400px) {
	.side-nav {
		margin: 0;
		border-left: none;
	}

	.content {
		margin: 0;
		border-right: none;
	}

	.NA-2 > a > figcaption.overlay-1 {
		left: 60%;
	}

	.NA-2 > a > figcaption.overlay-2 {
		left: 8%;	
	}

	.NA-2 > a > img {
		width: 164px;
		height: 125px;
	}

	.NA-2, .NA-3, .NA-4, .NA-5 {
		max-width: 50%;
	}

	.inactive-ads-1 {
		display: none;
	}
}

