/*Top-Nav*/

.top-nav {
	min-height: 20px;
}


/*Side-Nav*/

.main {
	margin-bottom: 20px;
}

.side-nav {
	max-width: 300px;
	margin: 0 5px 0 20px;
	padding-top: 10px;
	border-left: 1px solid #f1a41a;
	background-color: #eee;
}

@media screen and (max-width: 1200px) {
	.side-nav {
		margin-bottom: 20px;
	}
}
.profile-pic {
	margin-top: 10px;
	padding-top: 10px;
}

.profile-pic img {
	display: block;
	margin: 0 auto;
}

.profile-pic:hover .overlay {
	opacity: 0.7;
}

.overlay {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	height: 100px;
	width: 100%;
	margin-top: 30px;
	padding: 0 15px;
	opacity: 0;
	transition: .5s ease;
	background-color: #eee;
}

.text {
	position: absolute;
	top: 50%;
	left: 50%;
	text-align: center;
	font-size: 14px;
	font-weight: bold;
	color: #444;
	transform: translate(-50%, -50%);
	-webkit-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	cursor: pointer;
}

.social {
	margin: 10px 0;
}

.soc-1 {
	text-align: center;
	width: 210px;
	height: 40px;
	margin: 5px 20px 15px 20px;
	padding: 10px 5px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	font-weight: bold;
	color: white;
	background-color: #1779ba;
	border-color: #1779ba;
	cursor: pointer;
}

.soc-2 {
	text-align: center;
	width: 210px;
	height: 40px;
	margin: 15px 20px 5px 20px;
	padding: 10px 5px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	font-weight: bold;
	color: #444;
	background-color: #f1a41a;
	border-color: #f1a41a;
	cursor: pointer;
}

.social i {
	font-size: 19px;
    font-weight: normal;
    margin-right: 3px;
	margin-left: 3px;
}

.user-info {
	margin: 20px 10px 20px 0;
    padding: 5px;
    overflow: hidden;
}

.my-menu {
	margin: 0;
	font-size: 14px;
}

.my-menu ul {
	margin: 0 0 0 20px;
}

.my-menu ul li a.active {
	font-weight: bold;
	color: #1779ba;
	letter-spacing: 2px;
	word-spacing: 5px;
}

.menu-hover-lines {
	text-transform: uppercase;
	font-weight: 500;
	transition: all 0.35s ease;
	width: 83%;
}

.menu-hover-lines li a {
	padding: 0.75rem 0;
	color: rgba(10, 10, 10, 0.5);
	position: relative;
}

.menu-hover-lines li:first-child a {
	margin-left: 0;
}

.menu-hover-lines li.active > a {
	background-color: transparent;
}

.menu-hover-lines a:before,
.menu-hover-lines a::after {
	position: absolute;
	height: 2px;
	width: 0;
	content: '';
	background-color: #1779ba;
	transition: all 0.35s ease;
}

.menu-hover-lines a::before {
	top: 0;
	left: 0;
}

.menu-hover-lines a::after {
	bottom: 0;
	right: 0;
}

.menu-hover-lines a:hover,
.menu-hover-lines li.active > a {
	/*color: #0a0a0a;*/
	transition: all 0.35s ease;
}

.menu-hover-lines a:hover::before,
.menu-hover-lines .active a::before,
.menu-hover-lines a:hover::after,
.menu-hover-lines .active a::after {
	width: 100%;
}

.questions {
	margin: 40px 0 40px 20px;
}

.side-nav a {
	padding: 7px 0px !important;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	color: #444;
	cursor: pointer;
}

a.exmp {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	text-decoration: none;
	cursor: pointer;
}

a.exmp:hover {
	color: #1779ba;
}

.questions p {
	margin-bottom: 0;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	font-weight: 700;
	color: #444;
} 


/*Main Content*/

.content {
	margin: 0 15px 0 5px;
	padding-bottom: 10px;
	border-right: 1px solid #f1a41a;
	max-width: 800px;
}

/* Headline and Box */
.potencijalni-kupci {
  max-width: 770px;
}

h4 {
  font-size: 1.2rem
}

.center {
  text-align: center;
}

.PK {
  max-width: 770px;
  margin: 0;
  text-align: center;
}

.box-1 {
  padding: 15px;
  background: rgb(228, 228, 228);
}

.box-1 p {
  font-size: 15px;
}

.far {
  padding: 5px;
}

.explain a {
  text-decoration: none;
  color: #ffa600;
}

.explain a:hover {
  color: #2f71ff;
}

/* Selectors */
.msg-buttons {
  display: grid;
  grid-template-columns: 1.35fr 0.7fr 0.7fr;
  grid-template-rows: auto;
  padding: 0 15px;
  padding-left: 30px;
}

.msg-buttons > button {
  float: right;
  width: fit-content;
}

.check {
  float: left;
  font-weight: 400;
  padding: 6px;
}

section.potencijalni-kupci > table {
  margin: 0 15px 15px;
  max-width: 740px;
}
